* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #00dbde;
    background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}
header {
    font-size: 1.5rem;
}
header,
form {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}
form button {
    color: #f50e9a;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover {
    background-color: #f50e9a;
    color: white;
}

.todo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo-list {
    min-width: 27%;
    list-style: none;
}
.todo {
    margin: 0.5rem;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.todo li {
    flex: 1;
}
.todo-item {
    padding: 0rem 0.5rem;
}
.trash-btn,
.complete-btn {
    background-color: #8c61f0;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn {
    background: #14d100;
}
.trash-btn {
    background: #f50e9a;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    color: #f50e9a;
    width: 10rem;
    cursor: pointer;
    padding: 1.19rem;
}
.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
.select::after {
    content: '\25bc';
    position: absolute;
    background-color: #f50e9a;
    top: 0;
    right: 0;
    padding: 1.2rem;
    pointer-events: none;
}
.select:hover::after {
    background-color: white;
    color: #f50e9a;
    transition: all 0.3s ease;
}
